# .env.example

# DBT Profile Environment Variables

# Common
DBT_THREADS=1
DBT_TARGET=dev

# Development
DBT_DEV_HOST=your_dev_host
DBT_DEV_PORT=3306
DBT_DEV_USER=your_dev_user
DBT_DEV_PASSWORD=your_dev_password
DBT_DEV_DBNAME=your_dev_dbname
DBT_DEV_SCHEMA=your_dev_schema

# Production
DBT_PROD_HOST=your_prod_host
DBT_PROD_PORT=3306
DBT_PROD_USER=your_prod_user
DBT_PROD_PASSWORD=your_prod_password
DBT_PROD_DBNAME=your_prod_dbname
DBT_PROD_SCHEMA=your_prod_schema